In [1]:
import pandas as pd

In [4]:
def extraction(url):
    table = pd.read_html(url, match='Rank')[0]
    columns = ['Nation','HDI']
    table = table.loc[:, columns].iloc[:, :2]
    table.columns = columns
    hdi = pd.DataFrame(table)
    return hdi

hdi = extraction("https://en.wikipedia.org/wiki/List_of_countries_by_Human_Development_Index")
hdi.head()

        Nation    HDI
0  Switzerland  0.962
1       Norway  0.961
2      Iceland  0.959
3    Hong Kong  0.952
4    Australia  0.951